.App {
  width: 100%;
}

.home-container {
  background: #0f2742;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlink {
  text-transform: uppercase;
  font-size: 3.2rem;
  color: #d2d6d8;
  padding: 2rem 2rem;
}

.border {
  border-left: 3px solid #f26863;
}

.sub {
  font-size: 1.6rem;
}

.sub-header {
  color: #f46e64;
  font-size: 3.2rem;
}

h1 {
  color: #d2d6d8;
  font-size: 3.2rem;
}
